p {
  color: #311B92;
  font-size: 18px;
}

h2 {
  color: #311B92;
}


.card-container {
  width: 60%;
  background-color: transparent;
  justify-content: center;
  align-items: flex-end;
}

mat-card {
  background-color: #EDE7F6;
}

.main-welcome {
  margin-top: 50px;
  justify-content: center;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
