p {
  color: #311B92;
  font-size: 18px;
}

h2 {
  color: #311B92;
}


.card-container {
  width: 60%;
  background-color: transparent;
  margin: 0 auto;
  padding-top: 50px;
}

mat-card {
  background-color: #EDE7F6;
}

.main-welcome {
  margin-top: 50px;
  justify-content: space-between;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.social {
  width: 18px;
  height: 80%;
  padding-right: 5px;
}
