<div fxLayout="row wrap">

  <div fxFlex>

    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
      </mat-card-title>

      <br />
      <mat-card-content class="align-center">
        <p>
          1846 Oxley Street
        </p>
        <p>
          South Pasadena, CA 91030
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex>
    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">phone</mat-icon>
      </mat-card-title>

      <br />

      <mat-card-content class="align-center">
        <p>
          Direct: 555-867-5309
        </p>
        <p>
          Toll-free: 1-800-867-5309
        </p>
        <p>
          email: dothisdothat@gmail.com
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<br /><br /><br />
<div fxLayout="column">
  <h2 style="text-align: center">
    Let nodebucket manage your tasks.
  </h2>
</div>
