<div class="main-bucket" fxLayout="column">
<br /><br />

  <h1>404</h1>
  <br />
  <h3>Sorry, page not found.</h3>

  <mat-card fxFlex style="margin-top: 5%; width: 45%; margin-left: 18%;" class="mat-elevation-z6">

    <mat-card-title>

      <div class="gif-container">
      <img class="not-found-pic" src="../../../assets/sci-fi.gif" />
      </div>
      <br /><br />
      <h2>Oh the humanity! Return home before it's too late!</h2>


    </mat-card-title>

    <mat-card-content style="text-align: center; padding-left: 30px;">
      <button mat-raised-button color="primary" routerLink="/">Return Home</button>
    </mat-card-content>

  </mat-card>
</div>
