<div fxLayout="column">

  <mat-card fxFlex style="margin-top: 10%; width: 50%; margin-left: 18%;" class="mat-elevation-z0">

    <mat-card-title>
      <h1>404 Sorry, page not found</h1>
      <img src="../../../assets/sci-fi.gif" />
      <h2 class="not-found-page">Oh the humanity! Return home before you are trapped in this wasteland forever!</h2>
    </mat-card-title>

    <mat-card-content style="text-align: center; padding-left: 30%;">
      <button mat-raised-button color="primary" routerLink="/">Return Home</button>
    </mat-card-content>

  </mat-card>
</div>
