.not-found-page, h1 {
  color: #311B92;
  font-size: 72px;
  font-weight: bold;
}

h1 {
  margin-top: 30px;
  margin-left: 30px;
}

h2 {
  color: #311B92;
  font-size: 24px;
  text-align: center;
}

h3 {
  color: #311B92;
  font-size: 36px;
  margin-left: 30px;
}

p {
  color: #311B92;
  font-size: 18px;
}

button {
  background-color: #311B92;
  color: #FFFFFF;
  /* padding: 8px; */
}


:root {
  --gradient: linear-gradient(150deg,
    #F0F0F0,
    #EDE7F6,
    #DFE0FA,
    #311B92
  );
  --gradient2: linear-gradient(
  #F0F0F0,
  #EDE7F6
  );
}

body {
  background-image: var(--gradient);
  animation: bg-animation 5s infinite alternate;
  background-size: 70%;
  animation: bg-animation 15s infinite alternate;
}

.not-found-pic {
  justify-content: center;
  padding: 10px;
  width: 90%;
  height: auto;
}

.gif-container {
  justify-content: center;
  /* padding: 5px; */


}


@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

mat-card {
  box-shadow: 2px 2px #EDE7F6;
  justify-content: center;
  background-color: #EDE7F6;


}


