<div fxFlex class="main-content">

  <h1>About nodebucket</h1>
  <br />

  <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="30px" class="card-container">

    <div fxFlex fxLayoutAlign="center center">
      <img style="max-width: 300px" fxFlex class="image-container" src="../../../assets/computerGuy.jpg" />
    </div>

    <div fxFlex>
      <p>
        In 1987, during an intense design session, computer hobbyist, Arnold Parker,
        forgot he was supposed to pick up his beloved mother at the fabric store.
        While Arnold's mom threatened to kick him out of the basement, he envisioned
        a computer program that could help people organize, manage, and track their
        daily work. That was the beginning of nodebucket. Today, nodebucket helps
        users manage projects of any size.
      </p>

    </div>
  </div>

  <br /><br />

  <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="40px" class="card-container">
    <mat-card class="mat-elevation-z2">

        <img src="../../../assets/useThisPet.png" />
        <br />
      <p>"Our productivity increased 30% since we starting using nodebucket."
        -Marty Pets-r-Us</p>
    </mat-card>

    <mat-card class="mat-elevation-z2">
      <mat-card-title>
        <img style="max-height: 70%;" src="../../../assets/useThisDonut.png" />
      </mat-card-title>
      <p>"nodebucket makes managing our catering services a breeze." -Billy
        Billy's Donuts</p>
      </mat-card>

      <mat-card class="mat-elevation-z2">
        <mat-card-title>
          <img src="../../../assets/useThisRobot.png" />
        </mat-card-title>
        <p>"Thanks to nodebucket, my team was able to take on more projects in less
          time." -Bob Bob's Computer Repair</p>
        </mat-card>

  </div>

  <br /><br /><br />
  <div fxLayout="column">
    <h2 style="text-align: center">
      Smarter project management with nodebucket.
    </h2>
  </div>
  <br /><br /><br />
</div>
