h1  {
  color: #311B92;
  margin-top: 50px;
  margin-left: 25px;
  font-size: 48px;
}



h2 {
  color: #311B92;
  font-size: 24px;
  margin-left: 25px;

}

p {
  color: #311B92;
  font-size: 18px;
  max-width: 70%;
  margin-left: 10px;

}


.card-container {
  margin-top: 25px;
  max-width: 80%;

}



.main-content {
  padding-left: 30px;
}



mat-card {
  background-color: #EDE7F6;
  width: 22%;

}
