<div fxFlex class="main-content">

  <h1>About nodebucket</h1>
  <br />

  <div fxLayout="row" fxLayoutAlign="center start" fxLayout.xs="column" fxLayoutGap="2%" class="card-container">

    <div fxFlex="55%">
      <img style="max-width: 400px" fxFlex class="image-container" src="../../../assets/computerGuy.jpg" />
    </div>

    <div fxLayout="column" fxFlex="40%">
      <p>
        In 1987, during an intense design session, computer hobbyist, Arnold Parker,
        forgot he was supposed to pick up his beloved mother at the fabric store.
        While Arnold's mom threatened to kick him out of the basement, he envisioned
        a computer program that could help people organize, manage, and track their
        daily work. That was the beginning of nodebucket.
      </p>
      <p>
        Today, nodebucket helps users manage projects of any size. With nodebucket,
        project tasks can be assigned to team members and track from start to finish.
        The drag and drop feature allows users to simply click and drag tasks from "To do"
        to "Done". Tasks can be rearranged in any order. If you want to sort tasks by
        priority, complexity or chronological order, nodebucket's simple and efficient
        interface gives you the power to manage your tasks your way. Contact nodebucket
        today to get your team a smarter project management solution.
      </p>

    </div>
  </div>

  <br /><br /><br />

  <h2>Here's what nodebucket users have to say.</h2>
  <br /><br />
  <div fxLayout="row" fxLayoutAlign="center start" fxLayout.xs="column" fxLayoutGap="10%" class="card-container">
    <mat-card class="mat-elevation-z2">

        <img src="../../../assets/useThisPet.png" />
        <br />
      <p>"Our productivity increased 30% since we starting using nodebucket."
        -Marty, Pets-r-Us</p>
    </mat-card>

    <mat-card class="mat-elevation-z2">
      <mat-card-title>
        <img style="max-height: 70%;" src="../../../assets/useThisDonut.png" />
      </mat-card-title>
      <p>"nodebucket makes managing our catering services a breeze." -Billy,
        Billy's Donuts</p>
      </mat-card>

      <mat-card class="mat-elevation-z2">
        <mat-card-title>
          <img src="../../../assets/useThisRobot.png"/>
        </mat-card-title>
        <p>"Thanks to nodebucket, my team was able to take on more projects in less
          time." -Bob, Bob's Computer Repair</p>
        </mat-card>

  </div>

  <br /><br /><br />
  <div fxLayout="column">
    <h2 style="text-align: center">
      Smarter project management with nodebucket.
    </h2>
  </div>
  <br /><br /><br />
</div>
