
  .title {
    text-align: center;
    color:#311B92;
  }

  .subtitle {
    text-align: center;
    font-size: 14px;
    color:#311B92;
  }

  .task-container {
    width: 45%;
    margin: 0 auto;

  }

  .task {
    display: block;
    color: #311B92;
    background: #F0F0F0;
    border: 1px solid #311B92;
    overflow: hidden;
    min-height: 68px;
  }

  mat-card-title, mat-card-subtitle {
    color:#311B92;
  }

.task-card {

  cursor: move;
  padding: 20px 10px;
  min-height: 68px;
  height: 68px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

mat-card, mat-card-content {
  background-color: #EDE7F6;
}


