:root {
  --gradient: linear-gradient(150deg,
    #F0F0F0,
    #EDE7F6,
    #DFE0FA,
    #311B92
  );
  --gradient2: linear-gradient(
  #F0F0F0,
  #EDE7F6
  );
}

.main-bucket {
  background-image: var(--gradient);
  animation: bg-animation 5s infinite alternate;
  background-size: 70%;
  animation: bg-animation 15s infinite alternate;
}


@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.signin-container {
  width: 35%;
  margin: 15% auto;
  background-color: #EDE7F6;
  border: 1px solid #311B92;
}

.signin-error {
  margin: 40px 0;
  padding: 18;
  padding-left: 15px;
  color: #311B92;
  font-size: 24px;

}

button {
  background-color: #311B92;
  color: #FFFFFF;


}

.signin-container, mat-card-title, mat-card-subtitle {
  text-align: center;
  border-radius: 5px;
}

mat-card-title, mat-card-subtitle {
  width: 100%;
  padding: 5px;
}


mat-card-title {
  color:#311B92;
}

