<div class="main-bucket" fxLayout="column">

    <div class="signin-error" fxFlex *ngIf="error">
      {{ error }}
    </div>

    <h1>Welcome to nodebucket. Task management made easy.</h1>

    <mat-card class="mat-elevation-z8 signin-container" fxFlex>

      <mat-card-title>
        <img height="70px" width="auto" src="../../../assets/nodebucketLogo.png"/>
        <br /><br />
        Employee Sign-in Page
      </mat-card-title>
      <mat-card-subtitle>Please enter your four digit employee ID</mat-card-subtitle>

      <form [formGroup]="form" (ngSubmit)="login(); form.reset();">
        <mat-card-content>
          <mat-form-field fxFlex appearance="fill">
            <input matInput [formControl]="form.controls['empId']" placeholder="Employee ID"/>
          </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
          <button type="submit" fxFlex mat-raised-button [disabled]="!form.valid">
            Sign-in
          </button>
        </mat-card-actions>
      </form>


    </mat-card>
</div>
