<div fxLayout="column">
  <!-- navigation -->
  <nav>
    <mat-toolbar>
      <!-- logo and title -->
      <div class="navbar-container" fxLayout="row" fxFlex>
        <div fxLayoutAlign="start center" fxFlex="75">
          <img
            class="bucket"
            src="../../../assets/nodebucketLogo.png"
            routerLink="/home"
          />
          <h1 class="title">nodebucket</h1>
        </div>
        <!-- links -->
        <div fxLayout="end center" fxFlex="20">
          <button class="navbar-link" routerLink="/" mat-button>Home</button>
          <button class="navbar-link" mat-button>About</button>
          <button class="navbar-link" routerLink="/contact" mat-button>
            Contact Us
          </button>
        </div>

        <!-- employee profile pop up menu -->
        <div
          class="profile-container"
          fxLayoutAlign="end center"
          fxFlex="5"
          *ngIf="isLoggedIn"
        >
          <button
            mat-icon-button
            [matMenuTriggerFor]="profileMenu"
            aria-label="User profile menu"
          >
            <mat-icon color="primary">face</mat-icon>
          </button>

          <mat-menu #profileMenu>
            <p class="emp-profile" style="padding: 10px">
              Signed in as {{ name }}
            </p>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="signOut()">
              <span>Sign out</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <!-- <div fxFlex></div> -->
    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{ year | date: "yyyy" }} - nodebucket -
          <a href="https://www.bellevue.edu/" class="bu-link" target="_blank"
            >Bellevue University</a
          >
        </p>
      </mat-toolbar>
    </footer>
  </div>
</div>
