.bucket {
  height: 60px;
  width: auto;
  vertical-align: middle;
}

  .navbar-container {
    padding: 5px;
    background-color: #EDE7F6;
    color:#311B92;
    border-bottom: 1px solid #311B92;
  }

  .navbar-link {
    font-size: 24px;
    font-weight: lighter;
    color: #311B92;
  }

  .main-content {
    padding-left: 30px;
  }

  .footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: #EDE7F6;
    color:#311B92;
    border-bottom: 1px solid #311B92;
  }

  .footer-content {
    font-size: 16px;
    font-weight: lighter;
    padding-left: 100px;
    letter-spacing: 3px;
    color:#311B92;
  }

  .bu-link {
    text-decoration: none;
    color:#311B92;
  }

  .bu-link:hover {
    text-decoration: underline;
    color: #FFA726;
  }

  mat-menu {
    color: #311B92;
    background-color: #EDE7F6;
  }
