/* You can add global styles to this file, and also import other style files */
:root {
  --gradient: linear-gradient(150deg,
    #F0F0F0,
    #EDE7F6,
    #DFE0FA,
    #B0ACF5,
    #311B92
  );
  --gradient2: linear-gradient(
  #F0F0F0,
  #EDE7F6
  );
}
html, body {
  height: 100%;

}


body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  font-family: 'Lato', sans-serif;
  background-image: var(--gradient);
  animation: bg-animation 100s ease infinite;
  height: 100vh;
  background-size: 400% 400%;
}


@keyframes bg-animation {
  0% {
    background-position: 0% 50%;

  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #EDE7F6;
  color:#311B92;

}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
  color:#311B92;
  background-color: #EDE7F6;
}
