/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background-color: #F0F0F0;
}
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  font-family: 'Lato', sans-serif;
}


.footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: #EDE7F6;
  color:#311B92;
  border-bottom: 1px solid #311B92;
}

.footer-content {
  font-size: 16px;
  font-weight: lighter;
  padding-left: 100px;
  letter-spacing: 3px;
  color:#311B92;
}
